/* Landing Page CSS */

.background-image {
    background-attachment: fixed;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #eee;
    background-position: center;
  }

  span {
    display: block;
    text-indent: 1em;
  }
  
  #second {
    padding-left: 1em;
  }
  
  #third {
    padding-left: 2em;
  }

  
 h1{
    font-size: 9.259vh;
    font-family: 'Italiana',serif;
    padding-top:5px;
    font-style: italic;
  }

  .card-subtitle{
    font-family: 'Italiana',serif;
  }