/* Landing Page CSS */

.background-image {
    background-attachment: fixed;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #eee;
    background-position: center;
  }